.container {
    /* background: url('/images/Walpaper_without_watermark.png'), #4E6CB1; */
    background: linear-gradient(rgba(78, 108, 177, 0.5), rgba(78, 108, 177, 0.5)), url('/images/Walpaper_without_watermark.png');
    /* background-color: #4E6CB1; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    overflow-x: auto;
    -ms-overflow-x: auto;
}

.parents {
    /* z-index: 2; */
    display: flex;
    margin-left: auto;
    margin-right: auto;

    max-width: 1440px;
    height: 100%;

    position: relative;
}


.navigation {
    width: 780px;
}

/* ------------------------------ */


/* MAP SECTION */

.mapSection {
    width: 1102px;
    /* min-width: 1000px; */
    max-height: 1024px;
    min-height: 800px;
    /* min-height: 900px; */
    height: 80%;
    background-color: #D0E1E7;
    border: 3px solid #0C98B4;
    border-radius: 30px;

    /* Horizontally center the content */

    /* margin-top: 10vh; */

    box-shadow: -10px 10px 4px 0px #00000040;
    position: absolute;
    margin-top: 110px;
    right: 25px;

    z-index: 2;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

    margin-bottom: 20px;
}

.mapSection .topSection {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #0567A6;
}

.mapSection .topSection .searchBar {
    width: 292px;
    background-color: #D9FEFA;
    border: 3px solid #0C98B4;
    border-radius: 3px;
    display: flex;
    height: 30px;
    padding: 10px;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    color: #7C8DA5;

    justify-content: space-between;

}

.mapSection .topSection .searchBar input {
    background-color: #D9FEFA;
    border: none;
    text-decoration: none;
    font-size: 14px;
}

.mapSection .topSection .searchBar input:focus {
    outline: none;
}

.mapSection .mainSection {
    position: absolute;
    top: 15%;
    left: 20px;
    right: 20px;

}

/* .theTable */
.theTable {
    width: 100%;
    /* height: 600px; */
    text-align: center;
}

.theTable .header th {
    background-color: #0C98B4;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    color: #ECF4F6;

}

.theTable td {
    height: 50px;
    color: #D0E1E7;
    background-color: hsla(190, 40%, 60%, 1);

    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.theTable .dark {
    background-color: #68a5b2;
}

.theTable .sortableHeader {
    align-items: center;
    padding-right: 20px;
}

/* CSS untuk header konten (teks dan gambar) */
.theTable .headerContent {
    display: flex;
    justify-content: space-between;
    /* Ini yang diperlukan */
    align-items: center;
    padding-left: 5%;
    padding-right: 1%;
}

/* CSS untuk mengatur jarak antara teks dan gambar */
.theTable .headerContent img {
    margin-left: 10px;
    /* Jarak antara teks dan gambar */
}

.theTable th.selectedMap {
    width: 100px;
    /* Ganti dengan lebar yang Anda inginkan */
}

/* Checklist button */
/* Style for the checklist button container */


/* Style for the hidden checkbox */
.inputContainer input[type="checkbox"] {
    display: none;
}


.inputContainer label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #60E3D5;
    border-radius: 50%;

    background-color: #D9FEFA;

}

.inputContainer label:hover::before {
    box-shadow: -5px 5px 4px 0px #00000040;
    transition: 0.5s;
}


.checklistCell {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style for the custom checkbox label when checked */
.inputContainer input[type="checkbox"]:checked+label::before {
    background-color: #0567A6;
    border: 2px solid #60E3D5;
}

/* Style for the label text */
.inputContainer label {
    font-size: 16px;
    cursor: pointer;
}

.inputContainer {
    padding-top: 3%;
}

.delete img:hover {
    cursor: pointer;
    box-shadow: -5px 5px 4px 0px #00000040;
    transition: 0.5s;

}

.delete img {
    width: 20px;
    height: 20px;
}

/* --------------------------------------------- */

/* bottom section */
.bottomSection {
    position: absolute;
    bottom: 3%;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.bottomSection .warning {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #F6F0F0;
    border: 3px solid #60E3D5;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 349px;
    justify-content: space-between;
}

.bottomSection .warning p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: #0C98B4;
}

.bottomSection .warning img {
    width: 30px;
    height: 30px;
}

.bottomSection .pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0567A6;

}

.bottonPagination {
    background-color: #0C98B4;
    border: 2px solid #60E3D5;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.bottonPagination:hover {
    box-shadow: -5px 5px 4px 0px #00000040;
    transition: 0.5s;

}

.bottomSection .buttonDisable {
    background-color: #8DAAC0;
}

.bottomSection .buttonDisable:hover {
    box-shadow: none;
}

.bottomSection .currentPage {
    color: #0567A6;
    background-color: #D9FEFA;
    border: 2px solid #0C98B4;
    border-radius: 5px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomSection input {
    color: #0567A6;
    width: 100%;
    background-color: red;
    text-align: center;
    text-decoration: none;
    border: none;
    /* Remove the border */
    background: none;
    /* Remove the background color */
    font-size: inherit;
    /* Inherit the font size */
    /* Remove padding */
    /* Allow the input to expand as needed */
    outline: none;

}

.bottomSection .confirmMappingChoosed {
    height: 40px;
    width: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    background-color: #0C98B4;
    border: 3px solid #60E3D5;
    border-radius: 5px;
    color: #FFFFFF;

}

.disable {
    background-color: #8DAAC0 !important;
}


.bottomSection .confirmMappingChoosed:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: -4px 4px 4px 0px #00000040;

}

.bottomSection .disable:hover {
    box-shadow: none;

}

/* MAP Overview */
.mapOverview {
    width: 13vw;
    height: 25vh;

    position: absolute;
    top: 45%;
    left: 10px;
    z-index: 2;

    background-color: #D0E1E7;

    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #0567A6;

    border-radius: 5px;
    border: 2px solid #0C98B4;

}

.mapOverview img {
    width: 80%;
    height: 60%;
}

/* --------------------------------------------- */

.centerDiv {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #0C98B4;
    text-align: center;
}

/* app-control-navbar {
    z-index: 3;
} */


@media (max-width: 1439px) {
    .mapSection {
        position: relative;
        right: 0;
        margin-top: 0;
    }

    .statusSection{
        /* background-color: red; */
        margin-top: 5px;
        /* display: none; */
    }

    .navigation{
        width: 780px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parents {
        flex-direction: column;
        align-items: center;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
}