/* Add a color overlay */
.container {
    background-image: url('/images/Walpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-attachment: fixed;
    /* Keeps the background fixed when scrolling */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

}

.container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4E6CB1;
    /* Your desired color */
    opacity: 0.5;
    /* Adjust the opacity to control the color intensity */
    z-index: 1;
    /* Place it in front of other content */
}

.parents {
    max-width: 1440px;
    max-height: 1024px;
    width: 100%;
    height: 100%;

    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}




/* CSS for the close button */
.close-button {
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
    background-color: #0C98B4;
    border: 2px solid #60E3D5;
    /* Red background color, you can change this */
    color: #FFFFFF;
    /* White text color */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    z-index: 1;
    /* Ensure it's on top of other content */
}

.close-button:hover {
    box-shadow: 0px 4px 4px 0px #0567A680;
    transition: 0.5s;
    /* Change color on hover */
}



/* MENU */

/* main {
    display: flex;
    justify-content: space-between;
}
 */

/* ------------------------------ */


/* MAP SECTION */