.container {
    /* background: url('/images/Walpaper_without_watermark.png'), #4E6CB1; */
    background: linear-gradient(rgba(78, 108, 177, 0.5), rgba(78, 108, 177, 0.5)), url('/images/Walpaper_without_watermark.png');
    /* background-color: #4E6CB1; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    overflow-x: auto;
    -ms-overflow-x: auto;
}

.parents {
    /* z-index: 2; */
    display: flex;
    margin-left: auto;
    margin-right: auto;

    max-width: 1440px;
    height: 100%;

    position: relative;
}

.navigation {
    z-index: 3;
}

@media (max-width: 1439px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parents {
        flex-direction: column;
        align-items: center;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1200px) {
    .theFooter{
        padding-bottom: 100px;
        height: 100%;
        background-color: red;
    }
}