.container {
    /* background: url('/images/Walpaper_without_watermark.png'), #4E6CB1; */
    background: linear-gradient(rgba(78, 108, 177, 0.5), rgba(78, 108, 177, 0.5)), url('/images/Walpaper_without_watermark.png');
    /* background-color: #4E6CB1; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    overflow-x: auto;
    -ms-overflow-x: auto;
}
.parents {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    max-width: 1440px;
    height: 100%;

    position: relative;
}

.statusSection {
    width: 480px;
    min-width: 480px;
    padding-top: 10px;
    position: absolute;
    right: 150px;
    display: flex;
    gap: 20px;
    /* align-items: center; */
    /* z-index: 2; */
}

.statusSection div {
    height: 100%;
}

.statusSection .status {
    width: 279px;
    min-width: 279px;
    height: 57px;
    display: flex;
    align-items: center;
    background-color: #0C98B4;
    border: 3px solid #60E3D5;
    border-radius: 20px;

    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    /* justify-content: center; */
    gap: 5px;
    margin-left: auto;
}

.idle {
    background-color: #0567A6 !important;
    justify-content: start !important;
}

.idle img {
    margin-left: 20%;
}

.statusSection p {
    color: #FFFFFF;
}

.statusSection .status img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.statusSection .lidar {
    min-width: 94px;
    height: 57px;
    text-align: center;
    display: flex;
    /* Use flex display */
    align-items: center;
    /* Vertically center the content */
    justify-content: center;
    /* Horizontally center the content */
    /* margin-left: auto; */

    background-color: #0567A6;
    border: 3px solid #60E3D5;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    justify-content: center;
    gap: 5px;
}

.statusSection .lidarButton {
    margin-top: -5px;
}

/* Style for the toggle switch container */
.toggleSwitch {
    display: inline-block;
    position: relative;
    width: 4.5vw;
    height: 100%;
}

/* Hide the default checkbox input */
.toggleInput {
    display: none;
}

/* Style for the slider */
.slider {
    height: 37.52px;
    width: 75.03px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0567A6;
    border-radius: 20px;
    transition: 0.4s;
    /* Transition effect to create smooth sliding */
    padding-top: 2px;
}

/* Style for the slider when the toggle is "on" */
.slider::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    border: 10px solid #0567A6;
    /* background-color: red; */
    border-radius: 50%;
    /* Round indicator to create a circle */
    transition: 0.4s;
    /* Transition effect to create smooth sliding */
}

/* Style for the slider when the toggle is "on" */
.toggleInput:checked+.slider {
    background-color: #0567A6;
    /* Color after checked */
}

/* Style for the slider when the toggle is "off" */
.toggleInput:not(:checked)+.slider {
    background-color: #60E3D5;
    /* Color before checked */
}


/* Move the indicator to the right when toggled on */
.toggleInput:checked+.slider::before {
    transform: translateX(100%);
    background-color: #0567A6;
    border: 10px solid #60E3D5;
    /* Color of the indicator when checked */
}


/* MAP SECTION */

.mapSection {
    width: 1102px;
    /* min-width: 1000px; */
    max-height: 800px;
    min-height: 800px;
    /* min-height: 900px; */
    height: 80%;
    background-color: #D0E1E7;
    border: 2px solid #0C98B4;
    border-radius: 30px;

    /* Horizontally center the content */

    /* margin-top: 10vh; */

    box-shadow: -10px 10px 4px 0px #00000040;
    position: absolute;
    margin-top: 110px;
    right: 25px;

    z-index: 2;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

    margin-bottom: 20px;
}

/* --------------------------------------------- */

/* TOP DIV */

.topDiv {
    display: flex;
    align-items: center;
    /* Vertically align elements in the flex container */
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 500;
    /* line-height: 31px; */
    letter-spacing: 0em;
    color: #0567A6;
    gap: 20px;

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    height: 40px;
    margin-top: 46px;
    margin-bottom: 64.1px;

}

.topDiv .playButton,
.topDiv .pauseButton,
.topDiv .stopButton,
.topDiv .settingsButton {
    display: flex;
}

.topDiv .playButton,
.topDiv .pauseButton,
.topDiv .stopButton {
    height: 20px;
    width: 8%;
    background-color: #0C98B4;
    border: 2px solid #60E3D5;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;

    display: flex;
    align-items: center;
    /* Vertically center the content */
}

.topDiv .playButton:hover,
.topDiv .pauseButton:hover,
.topDiv .stopButton:hover {
    box-shadow: -5px 5px 4px 0px #00000040;
    transition: 0.5s;
    cursor: pointer;

}

.topDiv .playButton p,
.topDiv .pauseButton p,
.topDiv .stopButton p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
}

.topDiv .playButton img,
.topDiv .pauseButton img,
.topDiv .stopButton img {
    width: 16px;
    /* Adjust image width as needed */
    height: 16px;
    /* Adjust image height as needed */
    margin-right: 5px;
    /* Add some spacing between image and text */
}

.topDiv .settingsButton {
    margin-left: auto;
    height: 20px;
    background-color: #F6F0F0;
    border: 3px solid #60E3D5;
    font-size: 14px;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.topDiv .settingsButton img {
    height: 16px;
    width: 16px;
}

.buttonActive {
    background-color: #8DAAC0 !important;
}


/* Center Div */
.centerDiv {
    width: 95%;
    height: 625px;
    border-radius: 30px;
    border: 3px solid #0C98B4;
    margin-left: auto;
    margin-right: auto;
    background-color: #DCDCDC;
}

.centerDiv img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1439px) {
    .mapSection {
        position: relative;
        right: 0;
        margin-top: 0;
    }

    .statusSection {
        /* background-color: red; */
        margin-top: 5px;
        z-index: 1;
        /* display: none; */
    }

    .navigation {
        width: 780px;
        z-index: 10;
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parents {
        flex-direction: column;
        align-items: center;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
}