/* CSS for the close button */
.closeButton {
    position: absolute;
    right: 25px;
    top: 10px;
    background-color: #0C98B4;
    border: 2px solid #60E3D5;
    color: #FFFFFF;
    padding-top: 5px;
    /* padding: 5px 10px; */
    border-radius: 5px;
    cursor: pointer;
    
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    z-index: 3;
    /* Ensure it's on top of other content */
}

.closeButton:hover {
    box-shadow: -4px 4px 4px 0px #00000040;
    transition: 1s;
    /* Change color on hover */
}